body{
  background-color:#e5e5e5;
}

.wrapper{
  width:100%;
  margin:0px auto 0;
  overflow:hidden;
}

.inner{
  width: 1024px;
  margin:0px auto 0;
  overflow:hidden;
}

header{
  height:110px;
  margin:0px auto 0;
  overflow:hidden;
  position:relative;
}

header .ul-left ul{
  float:left;
  margin-right:150px;
  margin-top:50px;
  overflow:hidden;
}

header .ul-left ul li{
  font-size:10px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  float:left;
  margin-right:20px;
}

header .ul-left ul li a:link,
header .ul-left ul li a:visited{
  color:#191919;
  text-decoration:none;
  background:url(../homeimg/icon/triangle_g_s.png) left center no-repeat;
  padding-left:10px;
}

header .ul-left ul li a:hover{
  text-decoration:underline;
}

header h1{
  float:left;
  margin-top:20px;
}

header .ul-right ul{
  float:right;
  margin-top:50px;
  margin-right:66px;
  overflow:hidden;
}

header .ul-right ul li{
  font-size:10px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  float:left;
  margin-right:20px;
}

header .ul-right ul li:last-child{
  margin-right:0px;
}

header .ul-right ul li a:link,
header .ul-right ul li a:visited{
  color:#191919;
  text-decoration:none;
  background:url(../homeimg/icon/triangle_g_s.png) left center no-repeat;
  padding-left:10px;
}

.facebook{
  position:absolute;
  left: 1100px;
  top: 47px;
}

.twitter{
  position:absolute;
  left:1134px;
  top:48px;
}


.nav_bgwrapper{
  width: 100%;
  height: 70px;
  margin:0px auto 0;
  background-color:rgba(0,0,0,0.5);
  background-size:cover;
  text-align:center;
  position:relative;
  z-index:1;
}

.nav_bgupper{
  width:100%;
  height: 10px;
  margin:0px auto 0;
  background-color:#930000;
  background-size:cover;
  text-align:center;
  position:absolute;
  top:0px;
  box-shadow:0px 2px 2px rgba(0,0,0,0.6)
}

nav .nav_bgupper ul{
  width: 1030px;
  height: 70px;
  margin:0px auto;
  overflow:hidden;
}

.room{
  width: 204px;
  height: 60px;
  color:#191919;
  background-color:rgba(255,255,255,0.2);
}

nav .nav_bgupper ul li{
  font-size:16px;
  font-family: "ヒラギノ明朝 Pro","Hiragino Mincho Pro"; font-weight: bold;
  float:left;
  width: 204px;
  height: 70px;
  line-height:1.3;
  padding-top:20px;
  border-left: 1px solid rgba(229,229,229,0.4);
}

nav .nav_bgupper ul li span{
  font-size:12px;
  display:block;
}

nav .nav_bgupper ul li:last-child{
  border-left:1px solid rgba(229,229,229,0.4);
  border-right:1px solid rgba(229,229,229,0.4);
}

nav .nav_bgupper ul li a:link,
nav .nav_bgupper ul li a:visited{
  color:#e5e5e5;
  text-decoration:none;
  text-align:center;
  width: 204px;
  height: 70px;
  display:block;
}

nav .nav_bgupper ul li a:hover{
  width: 204px;
  height: 70px;
  color:#930000;
}

ol{
  margin-top:20px;
  overflow:hidden;
  background:url(../roomimg/icon/rectangle414.jpg) left center no-repeat;
  padding-left:5px;
}

ol li{
  float: left;
  padding-left:10px;
  background:url(../roomimg/icon/triangle_w.png) right center no-repeat;
  padding-right:20px;
  color:#373737;
  font-size:14px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  text-decoration:none;
}

ol li:last-child{
  background:none;

}

ol li a:link,
ol li a:visited{
  color:#373737;
  font-size:14px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  text-decoration:none;
}

ol li a:hover{
  color:#a2a2a2;
}

.contents{
  margin-top:40px;
  overflow:hidden;
}

.contents h2{
  background:url(../roomimg/icon/h2logo.png) left center no-repeat;
  padding-left:40px;
  font-size:26px;
  font-family: "ヒラギノ明朝 Pro","Hiragino Mincho Pro"; font-weight: bold;
  color:#930000;
}

.contents h2 span{
  padding-left:22px;
  font-size:18px;
  font-family: "ヒラギノ明朝 Pro","Hiragino Mincho Pro";
  color:#930000;
}

.contents .double-main{
  float:left;
  margin-top:20px;
}

.contents .thumb{
  margin-top:20px;
  float:right;
}

.contents .thumb li{
  margin-bottom:8px;
}

.contents .thumb li:last-child{
  margin-bottom:0px;
}

.contents_more{
  clear:both;
  padding-top:70px;
  margin-top:413px;
  background:url(../homeimg/icon/horizontalline.png) 0 0 no-repeat;
  overflow:hidden;
}

.contents_left{
  float:left;
  width: 270px;
}

.contents_right{
  float:right;
  width: 700px;
}

h3{
  font-size:20px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  color:#373737;
  background:url(../homeimg/icon/rectangle_g.jpg) left center no-repeat;
  padding-left:10px;
}

.doubleroom-reservation{
  width: 270px;
  height: 260px;
  margin-top:30px;
  background-color:#930000;
  position:relative;
}


.doubleroom-reservation p a:link,
.doubleroom-reservation p a:visited{
  position:absolute;
  bottom:20px;
  left:78px;
  width: 115px;
  height: 48px;
  font-size:16px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  color:#191919;
  text-decoration:none;
  line-height:3;
  background: #e5e5e5; /* Old browsers */
  background: -moz-linear-gradient(top,  #e5e5e5 0%, #cfcfcf 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#cfcfcf)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e5e5e5 0%,#cfcfcf 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e5e5e5 0%,#cfcfcf 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e5e5e5 0%,#cfcfcf 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e5e5e5 0%,#cfcfcf 100%); /* W3C */
  box-shadow:0px 2px 4px rgba(0,0,0,0.4);
  text-align:center;
  text-shadow:0px -1px 0px rgba(0,0,0,0.5);
  display:block;
}

.roometc{
  margin-top:50px;
  background:url(../roomimg/icon/horizontal_short.png) 0 0 no-repeat;
  padding-top:50px;
}

.h3roometc{
  font-size:14px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  color:#708d81;
  text-align:center;
  background:none;
}

.roometc ul{
  width: 270px;
  height: 80px;
  background-color:rgba(199,199,199,0.4);
  margin-top:20px;
  position:relative;
}

.roometc ul li img{
  margin-top:12px;
}

.roometc ul li a:link,
.roometc ul li a:visited{
  width: 148px;
  height: 80px;
  position:absolute;
  right:0px;
  top:0px;
  font-size:12px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  color:#636363;
  line-height:1.5;
  padding-top:30px;
  text-align:center;
  text-decoration:none;
  display:block;
}

.roometc ul .barrierfree a:link,
.roometc ul .barrierfree a:visited{
  width: 148px;
  height: 80px;
  position:absolute;
  right:0px;
  top:0px;
  font-size:12px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  color:#636363;
  line-height:1.5;
  padding-top:20px;
  text-align:center;
  text-decoration:none;
  display:block;
}

.roometc ul li a span{
  display:block;
}

.doubleroom{
  margin-top:30px;
  position:relative;
}

.doubleroom .choose{
  overflow:hidden;
  z-index:1;
}

.doubleroom .choose li{
  font-family: "ヒラギノ明朝 Pro","Hiragino Mincho Pro"; font-weight: bold;
  color:#e5e5e5;
  text-align:center;
}

.standard{
  width: 350px;
  height: 80px;
  font-size:18px;
  background:url(../roomimg/icon/activated.png)0 0 no-repeat;
  line-height:3.4;
  float:left;
}

.superier{
  width: 350px;
  height: 45px;
  font-size:16px;
  background-color:rgba(25,25,25,0.7);
  line-height:2.6;
  margin-top:15px;
  float:right;
}

.contents_right h4{
  font-size:18px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  color:#373737;
  background:url(../roomimg/icon/circle_r.png) left center no-repeat;
  padding-left:15px;
}

.doubleroom-info{
  margin-top:-22px;
  padding:60px 40px;
  border: 2px solid #c7c7c7;
  overflow:hidden;
}

.doubleroom-info p{
  padding-top:30px;
  font-size:12px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro";
  color:#373737;
  line-height:2;
}

.info-left{
  width: 380px;
  float:left;
}

.info-right{
  width: 225px;
  float:right;
}

.button{
  margin-top:30px;
}

.button1{
  float:left;
}

.button2{
  float:left;
}

.button li{
  color:#373737;
  font-size:14px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro";
  width: 170px;
  height: 35px;
  background-color: #dcdcdc;
  border-radius:10px;
  text-align:center;
  line-height:2.6;
  margin-right:10px;
}








.questions_wrapper{
  width: 100%;
  height: 255px;
  background-color:#c7c7c7;
  background-size:cover;
  margin-top:80px;
  overflow:hidden;
}

.questions_wrapper .inner{
  background-color:rgba(225,225,225,0.6);
  height: 175px;
  margin-top:40px;
}

.questions_wrapper .inner img{
  float:left;
}

.questions_contents{
  float:right;
  width: 710px;
  height: 133px;
  margin-right:35px;
  margin-top:20px;
  position:relative;
}

.questions_contents h4{
  padding-top:7px;
  font-size:16px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  color:#373737;
  margin-bottom:10px;
}

.address{
  float:left;
  width: 220px;
  margin-left:10px;
  margin-right:25px;
}

.address p{
  font-size:12px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro";
  color:#373737;
  line-height:2;
}

.address .checkin_out{
  line-height:1.5;
}

.tel{
  float:left;
  width:296px;
  margin-right:20px;
  font-size:28px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  color:#930000;
  position:absolute;
  bottom:0px;
  left:255px;
}

.questions_button a:link,
.questions_button a:visited{
  float:right;
  width:150px;
  height: 46px;
  font-size:16px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  text-decoration:none;
  color:#fff;
  line-height:3;
  border: 1px solid #920000;
  background: #930000; /* Old browsers */
    background: -moz-linear-gradient(top,  #930000 0%, #760000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#930000), color-stop(100%,#760000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #930000 0%,#760000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #930000 0%,#760000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #930000 0%,#760000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #930000 0%,#760000 100%); /* W3C */
  box-shadow:0px 2px 4px rgba(0,0,0,0.4);
  position:absolute;
  bottom:0px;
  right:0px;
  text-align:center;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
}

.footer_wrapper{
  width: 100%;
  height: 380px;
  background-color:#930000;
  background-size:cover;
  overflow:hidden;
}

.sitemap{
  padding:60px 0px 0px 67px;
  overflow:hidden;
}

.sitemap ul li{
  float:left;
  margin-right:30px;
}

.sitemap ul li:last-child{
  margin-right:0px;
}

.sitemap ul li dl dt a:link,
.sitemap ul li dl dt a:visited{
  width: 100px;
  font-size:14px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  color:#e5e5e5;
  padding:0px 0px 10px 10px;
  border-bottom: 1px solid #708d81;
  display:block;
  text-decoration:none;
  margin-bottom:10px;
}

.sitemap ul li dl dt a:hover{
  text-decoration:underline;
}

.sitemap ul li .sitemap_long dt a:link,
.sitemap ul li .sitemap_long dt a:visited{
  width:140px;
}

.sitemap ul li dl dd a:link,
.sitemap ul li dl dd a:visited{
  text-decoration:none;
  font-size:12px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro";
  color:rgba(199,199,199,0.7);
  background:url(../homeimg/icon/triangle_w_s.png) left center no-repeat;
  padding-left:10px;
  line-height:2;
}

.sitemap ul li dl dd a:hover{
  text-decoration:underline;
}

.hotelinfo_etc{
  height: 62px;
  padding-top:60px;
  position:relative;
 }

.about_hotel{
  width: 331px;
  float:left;
  position:relative;
}

.about_hotel img{
  position:absolute;
  top:5px;
}

.about_hotel p{
  padding-left:90px;
  font-size:10px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro";
  color:#e5e5e5;
  line-height:1.4;
}

.hotelinfo{
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
}

.about_hotel p a:link,
.about_hotel p a:visited{
  text-decoration:underline;
  color:#e5e5e5;
  font-size:10px;
}

.language-etc{
  width: 312px;
  float:right;
}

.language{
  overflow:hidden;
}

.language dl{
  float:left;
  overflow:hidden;
}

.language dl dt{
  width: 15px;
  padding-left:10px;
  float:left;
}

.language dl dd{
  float:right;
  padding-left:6px;
}

.language_bar{
  background:url(../homeimg/icon/rectangle_w.jpg) right center no-repeat;
  padding-right:10px;
}

.language dl dd a:link,
.language dl dd a:visited{
  text-decoration:none;
  color:#e5e5e5;
  font-size:12px;
}

.etc ul{
  overflow:hidden;
  padding-top:10px;
}

.etc ul li{
  float:right;
}

.etc ul li a:link,
.etc ul li a:visited{
  text-decoration:none;
  font-size:12px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro";
  color:rgba(199,199,199,0.7);
  background:url(../homeimg/icon/triangle_w_s.png) left center no-repeat;
  padding-left:10px;
}

.etc1{
  margin-right:30px;
}

.etc p{
  width: 312px;
  text-align:right;
  font-size:10px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro";
  color:#e5e5e5;
  padding-top:10px;
}
