.wrapper{
  width: 100%;
  margin:0px auto 0;
  overflow:hidden;
  position:relative;
}


/* header */
header{
  width: 100%;
  height: 60px;
  margin:0px auto 0;
  background-color:#000;
  position:relative;
}

/* menu */
.menu, h1, .social{
  position:absolute;
  margin:0px auto;
}

.menu,
.blackmenuon{
  position:absolute;
  top:18px;
  left:0%;
  margin-left:85px;
  z-index:30;
}

.blackmenuon{
  display:none;
}

.menuon{
  position:absolute;
  top:0px;
  left:0%;
  z-index:20;
  display:none;
  width: 260px;
  height: 660px;
  background:url(../top_img/menuon.png) 0 0 no-repeat;
}

nav .menuon ul{
  width: 125px;
  height: 540px;
  position:absolute;
  top:90px;
  left:40px;
}

nav .menuon ul li{
  background-color:#fff;
  text-align:center;
}

nav .menuon ul li a:link,
nav .menuon ul li a:visited{
  width: 125px;
  height: 89px;
  margin-bottom:1px;
  display:block;
  text-decoration:none;
  font-size:14px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  color:#191919;
}

nav .menuon ul li a p{
  padding-top:55px;
}

.menu01 p{
  background:url(../top_img/curation.png) center center no-repeat;
  padding-top:32px;
}

.menu02 p{
  background:url(../top_img/community.png)center center no-repeat;
  padding-top:32px;
}

.menu03 p{
  background:url(../top_img/game.png)center center no-repeat;
  padding-top:32px;
}

.menu04 p{
  background:url(../top_img/pigg.png)center center no-repeat;
  padding-top:28px;
}

.menu05 p{
  background:url(../top_img/entertain.png)center center no-repeat;
  padding-top:33px;
}

.menu06 p{
  background:url(../top_img/news.png)center center no-repeat;
  padding-top:32px;
}

nav .menuon ul .menu01 a:hover{
  border-right: 4px solid #de7238;
}
nav .menuon ul .menu02 a:hover{
  border-right: 4px solid #43ab41;
}
nav .menuon ul .menu03 a:hover{
  border-right: 4px solid #5776cb;
}
nav .menuon ul .menu04 a:hover{
  border-right: 4px solid #31b4ad;
}
nav .menuon ul .menu05 a:hover{
  border-right: 4px solid #ce6cc5;
}
nav .menuon ul .menu06 a:hover{
  border-right: 4px solid #82be28;
}
/* menu */


h1{
  top:14px;
  left:0%;
  margin-left:165px;
}

.social{
  top:20px;
  right:0%;
  margin-right:85px;
  width: 300px;
}

header ul,
.search{
  float:left;
}

header ul li{
  float:left;
  margin-right:30px;
}
/* header */



/* mainvisual */
.mainvisual ul li{
  float:left;
}

.mainvisual .left{
  position:absolute;
  top:195px;
  left:0%;
}

.mainvisual .right{
  position:absolute;
  top:195px;
  right:0%;
}
/* mainvisual */


/* service_choice */
.service_choice{
  width: 1280px;
  height: 135px;
  position:absolute;
  top:440px;
  background:url(../top_img/circle_bg.png);
  z-index:10;
}

.service_tab{
  width: 670px;
  margin:0px auto;
}

.service_tab ul{
  position:absolute;
  top:83px;
}

.service_choice ul li{
  float:left;
  margin-right:50px;
}

.service_choice ul li a:link,
.service_choice ul li a:visited{
  text-decoration:none;
  font-size:14px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro";
  color:#666666;
  text-align:center;
  line-height:3;
  display:block;
  width: 304px;
  height: 44px;
  border: 3px solid #e5e5e5;
  border-radius:25px;
}

.now{
  background:url(../top_img/now_bg.png) center center no-repeat;
}

.after{
  background:url(../top_img/after_bg.png) center center no-repeat;
}
/* service_choice */



.inner{
  width: 1030px;
  margin:0px auto 0;
  overflow:hidden;
}


/* news */
.news{
  margin-top:130px;
  position:relative;
}

h2{
  font-size:20px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  color:#191919;
}

.news h2{
  line-height:1.2;
  height: 27px;
  background:url(../top_img/news.png) left center no-repeat;
  padding-left:60px;
  padding-right:20px;
  margin-bottom:40px;
}

h2 span{
  font-size:16px;
  color:#666;
  padding-left:20px;
}

.news hr{
  width: 807px;
  border: 0;
  height: 0;
  border-bottom: 1px solid #7db628;
  position:absolute;
  top:0px;
  right:0px;
}

.news ul,
.recommend ul{
  overflow:hidden;
}

.news ul li{
  float:left;
  width: 500px;
  margin-right:30px;
  margin-bottom:30px;
}

.news ul .news_left{
  margin-right:0px;
}

.news_img{
  float:left;
  margin-right:20px;
}

.news ul li dl{
  float:right;
  width: 370px;
  margin-top:3px;
}

.news dt{
  font-size:16px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  color:#7db628;
  line-height:2;
}

.news dt span{
  font-size:10px;
  color:#fff;
  line-height:0.5;
  padding:4px 20px;
  width: 70px;
  height: 16px;
  margin-left:20px;
  background-color:#5776cb;
}

.news .entertainment_tag dt span{
  padding:4px 16px;
  background-color:#ce6cc5;
}

.news dd a:link,
.news dd a:visited{
  text-decoration:none;
  font-size:14px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro";
  color:#191919;
  line-height:2.2;
}

.news dd a:hover{
  text-decoration:underline;
}

.inner .moreinfo{
  text-decoration:underline;
  text-align:right;
  font-size:14px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro";
  color:#191919;
  background:url(../top_img/moreinfo.png) right center no-repeat;
  padding-right:18px;
}
/* news */


/* recommend */
.recommend{
  margin-top:60px;
  position:relative;
}

.recommend hr{
  width: 580px;
  border: 0;
  height: 0;
  border-bottom: 1px solid #ce6cc5;
  position:absolute;
  top:0px;
  right:0px;
}


.recommend h2{
  line-height:1.5;
  height: 30px;
  background:url(../top_img/recommended_pic.png) left center no-repeat;
  padding-left:55px;
  margin-bottom:40px;
}

.recommend ul{
  overflow:hidden;
  width: 1300px;
}

.recommend ul li{
  float:left;
  margin-left:10px;
  margin-right:60px;
}

.recommend ul li:last-child{
  margin-right:10px;
}

.recommend .moreinfo{
  margin-top:30px;
}

/* recommend */



/* footer */
footer{
  margin-top:80px;
  margin-bottom:40px;
}

footer ul{
  width: 1300px;
  padding-top:30px;
  border-top: 1px solid #191919;
  overflow:hidden;
}

footer ul li{
  float:left;
  margin-right:30px;
}

footer ul li:last-child{
  margin-left:280px;
}

footer ul li a:link,
footer ul li a:visited{
  text-decoration:none;
  font-size:12px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro";
  color:#666;
}

footer ul li a:hover{
  text-decoration:underline;
}

footer ul .language a{
  font-size:14px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  background:url(../top_img/language_tri.png) right center no-repeat;
  padding-right:32px;
  display:block;
}

footer .copyright{
  font-size:9px;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro";
  color:#666;
  margin-top:20px;
}
